<p id="notice"><%= notice %></p>

<h1>Books</h1>

<div>
  <%= search_form_for @q do |f| %>
  <%= f.label :title_cont, "Titulo" %> <!--title_or_description_or_author_cont %> -->
  <%= f.search_field :title_cont%>  <!--title_or_description_or_author_cont %> -->
  <%= f.submit %>
  <% end %>
</div>

<div>
  <%= search_form_for @q do |f| %>
  <%= f.label :st_cont, "Status" %> <!--title_or_description_or_author_cont %> -->
  <%= f.select :st_cont, options_for_select(Book.sts,
  @q.st), {},{class: "form-control"}  %>  <!--title_or_description_or_author_cont %> -->
  <%= f.submit %>
  <% end %>
</div>


<table class="table" >
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Autor</th>
      <th>Estado</th>
      <th>Prestado</th>
      <th>Devuelto</th>
      <th>Editar</th>
      <th>Eliminar</th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        
        <td><%= book.author %></td>
        <td><%= book.st %></td>
        <td><%= book.date1 %></td>
        <td><%= book.date2 %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Delete', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>
